
.card-wrapper {
    width:50%;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
  
  
.card {
    display: inline-flex;
    align-items:center;
    justify-content:center;
    line-height: 30px;
    text-align: center;
    color: #fff;
    width: 26%;
    height: 100px;
    font-size: 25px;
    
  }
  .shuffle-wraper {
      display: flex;
      flex-direction: column;
      width: 20%;
  }


  
.card_1 {
background-color: #6F98A8;
}
.card_2 {
  background-color: #2c8ead;
}
.card_3 {
      background-color: #2F454E;
}
.card_4 {
    background-color: #2C8EAD;  
}
.card_5 {
   background-color: #2F454E;   
}
.card_6 {
    background-color: #BFBFBF;
}
.card_7 {
      background-color: #BFBFBF;
}
.card_8 {
    background-color:  #6F98A8;    
}
.card_9 {
    background-color: #2F454E; 
}
button {
    border-radius: 10px;
    background-color:  #72C3DC;
    font-size:17px;
    padding: 11px 30px;
    height: unset;
    min-width: 180px;
    margin: 20px 0;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 380px) {
    .column {
        width: 100%;
    }
    .card {
        display:flex;
        width:100%;
        color:black;
        text-align:center;
        margin-bottom: 10px;
        height: 30px;
        
    }
    .row {
        flex-direction: column-reverse;
    }
    .shuffle-wraper { 
        flex-direction: row;
        width:100%;
        align-items: center;
        justify-content: center;
        
    }
    button {
        min-width: unset;
        margin: 20px 10px;
    }
    .card-wrapper {
        width:100%;
    }
    .card_1 {
        background-color: #EFEFEF;
        border-left: 6px solid #6F98A8;
        }
        .card_2 {
          background-color: #EFEFEF;
          border-left: 6px solid #2C8EAD;
        }
        .card_3 {
              background-color: #EFEFEF;
              border-left: 6px solid #2F454E;
        }
        .card_4 {
            background-color: #EFEFEF;  
            border-left: 6px solid #2C8EAD;
        }
        .card_5 {
           background-color: #EFEFEF; 
           border-left: 6px solid  #2F454E; 
        }
        .card_6 {
            background-color: #EFEFEF;
            border-left: 6px solid #BFBFBF;
        }
        .card_7 {
              background-color: #EFEFEF;
              border-left: 6px solid #BFBFBF
        }
        .card_8 {
            background-color:  #EFEFEF;   
            border-left: 6px solid  #6F98A8
        }
        .card_9 {
            background-color: #EFEFEF; 
            border-left: 6px solid #2F454E;
        }
    
  }

  